.body {
    max-width: 480px;
}

.navBar {
    
    display: inline-block;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    background: transparent;
    width: 100%;
    text-shadow:none;
    height: 50px;
    box-sizing: inherit;
    margin-top: 0;
    position: fixed;
    border: 1px solid white; 
    background-color: white;

}

.navBar img {
    width: 15%;
    height: 40%;
    padding-top: 15px;

}


.navAbout li {
    display: inline;
    list-style:none;
    padding: 20px;
}

.navAbout a {
    text-decoration: none;
    color: #ababab;
}

.section-four {
    background-color: #DFF8F7;
    display:flex;
    justify-content: space-around;
    height: 90vh;
    overflow: hidden;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
}
.rick {
    text-align: center;
    width: 200px;
    height: 220px;
    margin:10px;
    padding: 20px;
    background-color: #fff;
    font-size:13px ;
    border-radius: 7px;
    margin-right:60px;
    
}

.rick h1{
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em;
}

.world {
    display: inline-block;
    margin: 20px;
   
}
.world img {
    padding: 40px;
}
.world h2 {
    text-align: center;
    color: #00b39b;
    font-family: roboto;
    font-weight: 100;
}

.world p {
    text-align: center;
    font-family: roboto;
    font-weight: 200;
    letter-spacing: 1px;
}

.leader {
    margin: 30px;
}

.section-one {
    text-align: center;
}

.section-one img {
    margin-top: 80px;
}
.section-one h2 {
    margin: 2rem;
    letter-spacing: 3px;
    font-size: 2rem;
    color: #00b39b;
    font-family: work sans;
}

.section-info {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding:6px;
    
}

.section-p{
    font-weight: 400;
    line-height: 2rem;
    justify-content: space-between;
    width: 48%;
    padding: 2rem;

    
}

.section-pp{
    justify-content: end;
    font-weight: 400;
    line-height: 2rem;
    justify-content: end;
    width: 48%;
    padding: 2rem;
}
.section-three {
    display: inline-block;
    display: flex;
    justify-content: center;
    font-family: Roboto,Arial,sans-serif;


} 

.patients {
    background-color: #00ccb1;
    height: 270px;
    width: 250px;
    border-radius: 10px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    margin: 20px;
    padding: 1.3rem;
    text-align: justify;
}
.patients p{
    font-weight: 500;
    
} 

.doctors {
    background-color: #3d83df;
    height: 270px;
    width: 250px;
    border-radius: 10px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    margin: 20px;
    padding: 1.3rem;
}

.clinic {
    background-color: #1b2734;
    height: 270px;
    width: 250px;
    border-radius: 10px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    margin: 20px;
    padding: 1.3rem;
} 

 .brand {
    display: flex;
    justify-content:space-around;
    height : 150px;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    
 }

 .brand-text {
    font-size: 20px;
    color: #00b39b;
    font-family: roboto;
    font-weight: 190;
    letter-spacing: 2px;
    padding-left: 20px;
 }


.brand-logos {
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-right: 10px;
    width: 30%;
}

.brand-logos a {
    text-decoration: none;
    background-color: transparent;
    color: #ababab;
}
.brand-logos ul {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.brand-logos li {
    float:right;
    font-size: 20px;
    padding: 10px;
    padding-top: 25px;
    justify-content: space-between;
    margin:0;
    color:#dfff;
} 

.brand-logos img {
    height: 10px;
    width: auto;
    color:#ababab;
}


 .lives { 
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100px;
    margin: 60px;
 }

 .lives h2 {
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    color: #00b39b;
 }

 .lives p {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
 }

 .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .012rem;
    margin:10px 20px 10px 40px;
}

figure {
    border-radius: 30px;
}

.row figcaption {
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    font-weight: 400;
    padding:2px;
    margin: 8px;
}
 

 .section-five {
    display: flex;
    justify-content: center;
    text-align: center;
 }

 .section-five h2 {
    font-family: Work Sans;
    color: #333;
    letter-spacing: .3px;
    font-size: 2em;
 }


 .section-footer {
    border-top: 1px solid;
    text-align: center;
    text-decoration: none;
    color:#ababab ;
    font-size: 12px;
    position: relative;
    padding:0, 20px;
    margin: 30px;
}

 .section-footer a {
    text-decoration: none;
 }

 
figure {
    padding: 23px;
}

figcaption {
    margin: 0px, 1px;
    background-color: whitesmoke;
}

.submit-button {
    display: flex;
    justify-content: center;
}

button{
    text-align: center;
    color:#fff;
    background-color: rgb(142, 142, 253);
    border: 2px solid #DFF8F7;
    border-radius: 3px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 30px;
    width: 30%;
}

button:hover{
    color: #00ccb1;
}

a:hover{
    color:#00ccb1;
} 
